---
layout: default
---

<h1>{{ site.title }}</h1>
<p>{{ site.description }}</p>
<p>Projects on this page are not developed or endorsed by ROOST, and may not be intended for production use. Check each project’s documentation for details.</p>
<ul id="projects">
  {% for project in site.data.projects %}
    <li>
      <a href="{{ project.url }}">
        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>
        {% for tag in project.tags %}
          <span class="tag {{ tag }}">{{ tag }}</span>
        {% endfor %}
      </a>
    </li>
  {% endfor %}
  <li>
    <a href="#">
      <h2>Project name</h2>
      <p>Brief project description</p>
    </a>
  </li>
  <li>
    <a href="#">
      <h2>Different project name</h2>
      <p>Brief but slightly longer project description</p>
    </a>
  </li>
  <li>
    <a href="#">
      <h2>Another project name</h2>
      <p>Briefer project description</p>
    </a>
  </li>
  <li>
    <a href="#">
      <h2>Project name</h2>
      <p>Brief project description</p>
    </a>
  </li>
  <li>
    <a href="#">
      <h2>Project name</h2>
      <p>Brief project description</p>
    </a>
  </li>
  <li>
    <a href="#">
      <h2>Project name</h2>
      <p>Brief project description</p>
    </a>
  </li>
</ul>
